-#.tab-content
  -##home.tab-pane.fade.in.active{"role"=>"tabpanel", "aria-labelledby"=>"home-tab"}
  -##profile.tab-pane.fade{"role"=>"tabpanel", "aria-labelledby"=>"profile-tab"}
    -#%iframe#profile-frame{"src"=>"/registrations/profile", "width"=>"100%", "scrolling"=>"no", "border"=>"0"}
  -#-if current_user.is? 'user.user_admin'
    -##useradmin.tab-pane.fade{"role"=>"tabpanel", "aria-labelledby"=>"useradmin-tab"}
      -#%iframe#useradmin-frame{"src"=>"/users", "width"=>"100%", "scrolling"=>"no", "border"=>"0"}
%iframe#home-frame{"src"=>"/users"}
%script iFrameResize()
-#%script $("#home-frame").iFrameResize()
-#%script $("#profile-frame").iFrameResize()
-#%script $("#useradmin-frame").iFrameResize()
